[submodule "bundle/Gist.vim"]
	path = bundle/Gist.vim
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/SelectBuf"]
	path = bundle/SelectBuf
	url = git://github.com/vim-scripts/SelectBuf.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = git://github.com/vim-scripts/SuperTab.git
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/Wombat"]
	path = bundle/Wombat
	url = git://github.com/vim-scripts/Wombat.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/git.zip"]
	path = bundle/git.zip
	url = git://github.com/vim-scripts/git.zip.git
[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
	url = git://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/Markdown-syntax"]
	path = bundle/Markdown-syntax
	url = git://github.com/vim-scripts/Markdown-syntax.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
