[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
